body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 70px;
}

.grid {
    margin: 30px auto;
    padding: 0;
    list-style: none;
    min-height: 500px;
}
/* Title box */
.title-box h2 {
    display: block;
    margin: 7px;
    padding: 20px;
    background: #2E3444;
    color: #D3EEE2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.title-box h2 a {
    display: block;
    font-weight: 900;
}

.title-box h2 a:hover {
    color: #D3EEE2;
}
/* Anchor and image */
.grid li > a,
.grid li img {
    display: block;
    outline: none;
    border: none;
}

.grid li > a {
    position: relative;
    overflow: hidden;
    margin: 7px;
}

/* Curtain element */
.grid .curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #96cdc8;
}
/* Shadow */
.grid .curtain::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    content: '';
}
/* Title */
.grid li h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    background: #2E3444;
    color: #D3EEE2;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1em;
    -webkit-transition: -webkit-transform 0.2s, color 0.2s;
    transition: transform 0.2s, color 0.2s;
}

/* Pseudo element for hover effect */
.grid li > a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.5%;
    height: 100.5%;
    border: 0px solid transparent;
    background: rgba(0,0,0,0);
    content: '';
    -webkit-transition: border-width 0.2s, border-color 0.2s;
    transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid li.shown:hover h3 {
    color: #fff;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

.grid li.shown:hover > a::before {
    border-width: 14px;
    border-color: #2E3444;
}

/* comment box */
/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}

/* dashboard */
.dashboard-product-thumb{
    width: 200px;
}

.ui-view-container{
    position: relative;

}

[ui-view].ng-enter,
[ui-view].ng-leave{
    left: 0;
    right: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
[ui-view].ng-enter{
    opacity: 0;
    -webkit-transform: scale3d(0.96, 0.96, 0.96);
    -moz-transform: scale3d(0.96, 0.96, 0.96);
    -ms-transform: scale3d(0.96, 0.96, 0.96);
    -o-transform: scale3d(0.96, 0.96, 0.96);
    transform: scale3d(0.96, 0.96, 0.96);

}

[ui-view].ng-enter-active{
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave{
    opacity: 1;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);

}

[ui-view].ng-leave-active{
    opacity: 0;
}

.redactor-editor div, .redactor-editor p, .redactor-editor ul, .redactor-editor ol, .redactor-editor table, .redactor-editor dl, .redactor-editor figure, .redactor-editor blockquote, .redactor-editor pre{
    color: #000;
}


.animate-show, .animate-show.ng-hide{
    left: 0;
    right: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.animate-show {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.animate-show.ng-hide {
    opacity: 0;
    -webkit-transform: scale3d(0.96, 0.96, 0.96);
    -moz-transform: scale3d(0.96, 0.96, 0.96);
    -ms-transform: scale3d(0.96, 0.96, 0.96);
    -o-transform: scale3d(0.96, 0.96, 0.96);
    transform: scale3d(0.96, 0.96, 0.96);
}

/* drop upload styles */
section.container section.droplet section.toolbar{
    box-shadow: none;
    background: none;
}

.view-photo-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;

}

.view-photo-detail-img{
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    display: table;
}

.view-photo-detail-img .box-image{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.view-photo-detail-content{
    width: 30%;
    height: 100%;
    float: right;
    text-align: left;
    background-color: #FFF;
}

.view-photo-detail-content-header-controls{
    text-align: right;
}
.box-image-controls{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}
.box-image-controls-prev{
    float: left;
}
.box-image-controls-next{
    float: right;
}
.view-photo-detail-content-meta{
    padding: 0 10px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.photo-thumb {
    cursor: pointer;
}
.dragover {
    border: 5px dashed blue;
}
