<div class="row">
    <div class="col-lg-12">
        <my-form name="create-product" class="form-horizontal">
            <fieldset>
                <legend>Thêm mới sản phẩm</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label"><span class="txt-color-red">Ảnh sản phẩm</span></label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ng-modal"  ng-show="isShowedPhotoDetail">
                                    <div class="ng-modal-dialog" style="width: 70%;height: 70%">
                                        <div class="view-photo-detail lb-overlay" ng-class="{lbOverlayTarget: isShowedPhotoDetail}">
                                            <div class="view-photo-detail-img">
                                                <div class="box-image">
                                                    <img ng-src="{{photoDetailObject.path}}" alt="">
                                                </div>
                                                <div class="box-image-controls">
                                                    <a class="box-image-controls-prev btn btn-sm btn-default" ng-click="prevImage()">Previous</a>
                                                    <a class="box-image-controls-next btn btn-sm btn-default" ng-click="nextImage()">Next</a>
                                                </div>
                                            </div>
                                            <div class="view-photo-detail-content">
                                                <div class="view-photo-detail-content-header">
                                                    <div class="view-photo-detail-content-header-controls">
                                                        <a class="btn btn-sm btn-default" ng-click="photoDetailClose()">X</a>
                                                    </div>
                                                </div>
                                                <div class="view-photo-detail-content-meta">
                                                    Tiêu đề: <a href="#" editable-text="photoDetailObject.title" onaftersave="updatePhoto(photoDetailObject)" buttons="no">{{ photoDetailObject.title || "click to edit" }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div ngf-drop ngf-select ng-model="files" class="drop-box"
                                     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                                     accept="image/*,application/pdf">Thêm ảnh</div>
                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                <span ng-repeat="photo in photos" >
                                            <img ng-src="{{photo.thumb}}" class="photo-thumb" ng-click="photoDetail(photo)">
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label"><span class="txt-color-red">Tên sản phẩm</span></label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="name" class="form-control input-sm" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-lg-2 control-label"><span class="txt-color-red">Giá bán</span></label>
                    <div class="col-lg-2">
                        <input type="text" ng-model="price" class="form-control input-sm" id="price" placeholder="VND">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Hiển thị</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="checkbox" ng-model="active" name="active" id="active" value="true" checked>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-lg-2 control-label"><span class="txt-color-red">Danh mục</span></label>
                    <div class="col-lg-10">
                        <tags-input ng-model="tags" display-property="name" on-tag-added="tagAdded($tag)">
                            <auto-complete display-property="name" source="loadItems($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-lg-2 control-label">Nội dung</label>
                    <div class="col-lg-10">
                        <textarea ng-model="content" redactor cols="30" rows="10"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button ng-click="submit()" class="btn btn-primary btn-sm">Thêm</button>
                    </div>
                </div>
            </fieldset>
        </my-form>
    </div>
</div>



