<div class="row">
    <div class="col-lg-12">
        <my-form name="create-product" class="form-horizontal">
            <fieldset>
                <legend>Thêm mới sản phẩm</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label"><span class="txt-color-red">Ảnh sản phẩm</span></label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <a ng-click="toggleModal()" class="btn btn-sm btn-default">Xem ảnh</a>
                                <modal-dialog show='dialogShown' height='100%' width='75%'>
                                    <span ng-repeat="photo in photos" >
                                            <img ng-src="{{photo.thumb}}" class="photo-thumb" ng-click="photoDetail(photo)">
                                        </span>
                                    <div class="view-photo-detail" ng-show="isShowedPhotoDetail">
                                        <div class="view-photo-detail-img">
                                            <img ng-src="{{photoDetailObject.path}}" alt="">
                                        </div>
                                        <div class="view-photo-detail-content">
                                            <div class="view-photo-detail-content-header">
                                                <div class="view-photo-detail-content-header-controls">
                                                    <a class="btn btn-sm btn-default" ng-click="photoDetailClose()">X</a>
                                                </div>
                                            </div>
                                            <div class="view-photo-detail-content-meta">
                                                Tiêu đề: <a href="#" editable-text="photoDetailObject.title" onaftersave="updatePhoto(photoDetailObject)">{{ photoDetailObject.title || "click to edit" }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </modal-dialog>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                            </div>
                        </div>
                        <section class="container">

                            <section class="droplet" ng-class="{ uploading: interface.isUploading() }">

                                <section class="toolbar">

                                    <input type="button" class="button upload-files" value="Upload Files"
                                           ng-click="interface.uploadFiles()"
                                           ng-hide="interface.isUploading()"
                                           ng-class="{ clickable: interface.isReady() }" />

                                    <input type="button" class="button upload-files" value="Uploading..." ng-show="interface.isUploading()" />

                                    <div class="add-files">
                                        <input type="button" class="button add-files" value="Add Files..." />
                                        <droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
                                    </div>

                                    <comment class="progress" ng-class="{ visible: interface.isUploading() }">
                                        Uploaded: {{interface.progress.percent}}%
                                    </comment>

                                </section>

                                <droplet ng-model="interface">

                                    <div class="loading" ng-class="{ visible: interface.isUploading() }">
                                        <progressbar class="progress-striped active" value="interface.progress.percent" type="success">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>
                                    </div>

                                    <comment></comment>

                                    <ul class="files">

                                        <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                            <droplet-preview ng-model="model"></droplet-preview>
                                            <div class="delete" ng-click="model.deleteFile()">&times;</div>
                                            <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                                        </li>

                                    </ul>

                                </droplet>

                            </section>

                        </section>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label"><span class="txt-color-red">Tên sản phẩm</span></label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="name" class="form-control input-sm" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-lg-2 control-label"><span class="txt-color-red">Giá bán</span></label>
                    <div class="col-lg-2">
                        <input type="text" ng-model="price" class="form-control input-sm" id="price" placeholder="VND">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Hiển thị</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="checkbox" ng-model="active" name="active" id="active" value="true" checked>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-lg-2 control-label"><span class="txt-color-red">Danh mục</span></label>
                    <div class="col-lg-10">
                        <tags-input ng-model="tags" display-property="name" on-tag-added="tagAdded($tag)">
                            <auto-complete display-property="name" source="loadItems($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-lg-2 control-label">Nội dung</label>
                    <div class="col-lg-10">
                        <textarea ng-model="content" redactor cols="30" rows="10"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button ng-click="submit()" class="btn btn-primary btn-sm">Thêm</button>
                    </div>
                </div>
            </fieldset>
        </my-form>
    </div>
</div>



